.container {
	position: relative;
	margin: 30px auto;
	background: rgb(255, 255, 255);
	outline: none;
	border-radius: 10px;
	z-index: 10;

	animation-duration: 0.45s;
	animation-name: popup;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.54, 0.58, 0.22, 1.7);
	max-width: fit-content;
}

.outer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	overflow-y: auto;
	background: rgba(0, 0, 0, 0.6) !important;
	animation: fadein 0.45s;
}